@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html,body{
	min-height: 100%
}
body{
	background: linear-gradient(#c9fff5, #fffec9) ;
}

h2{
	font-family: 'Slabo 27px', serif;
	font-weight: 400;
}

h1{
	font-family: 'Slabo 27px', serif;
	}

p{
	font-family: 'Slabo 27px', serif;
}
#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}
.bg-rosado{
	background: rgba(255, 192, 192, 1.00);
}