@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Bitter:700&display=swap');

html,body{
	min-height: 100%
}
body{
	background: linear-gradient(#c9fff5, #fffec9) ;
}

h2{
	font-family: 'Slabo 27px', serif;
	font-weight: 400;
}

h1{
	font-family: 'Bitter', serif;
	color: #fcb3ac
	}

p{
	font-family: 'Slabo 27px', serif;
}
#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}
.bg-rosado{
	background: rgba(255, 192, 192, 1.00);

}

img {
	border-style: double;
	border-width: 10px;
	border-color: #313131;
}